忽略模型權重檔
*.pth
*.onnx


忽略影片與圖片資料
*.mp4
*.avi
*.png
*.jpg
*.csv
*.gif
*.txt
*.zip

忽略資料夾

**/weights/**
**/results/**

# 忽略所有的 YAML 紀錄檔 
args.yaml
state.json
ricky_env2.yml


忽略 Python 暫存與環境
__pycache__/
venv/
.env
